html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carousel-caption{
  position:initial;
}

.carousel-item img{
  height: 250px;
}

.card{
  max-width: 23rem;
  margin: 20px;
}